// Game GUI main style
.gui {
    position:absolute;
    z-index:1;
    margin:25px 0 0 25px;
    user-select:none;
    pointer-events: none;
    
    .guiElement {
        color:white;
        font-size: 2em;
        @include apply-font(400);
        text-shadow: 3px 3px 1px #333;
    }
    
    // The final countdown! tadada-daaaa....
    .timer {
        @extend .guiElement;
        font-size:3.5em;
        @include apply-font(700);
    }
    
    // Money ! Get away..
    .money {
        @extend .guiElement;
    }
    
}